<% provide(:stylesheet, 'application_home') %>
<% provide(:javascript, 'application') %>
<% provide(:title, 'Arch In Touch') %>


    <section id="main">
        <div class="mainlogo"><img src="mainlogo.png" alt="" width="204px" height="184px"></div>
        <div class="menu">
          <div class="menu-item"><a href='#who-we-are'>WHO WE ARE</a></div>
          <div class="menu-item"><a href='#portfolio'>PORTFOLIO</a></div>
          <div class="menu-item"><a href='#our-team'>OUR TEAM</a></div>
          <div class="menu-item"><a href='#contacts'>GET IN TOUCH</a></div>
        </div>
      <div class="clear">
      </div>
    <div class="slogan"><span>BE IN TOUCH WITH ARCHITECTURE AND DESIGN</span></div>
    </section>
    <section id="who-we-are">
      <div class="section-title">
        <div class="section-title-1"></div>
        <div class="section-title-4"></div>
        <div class="section-title-2"></div>
        <div class="section-title-4"></div>
        <div class="section-title-3">WHO WE ARE</div>
      </div><div class="clear"></div>
      <div class="maintext">
        <p>Archintouch is an architectural studio based in Kiev, Ukraine.</p>
        <p>В случае массовых увольнений работников, предупреждает председатель профсоюзного комитета, портовики намерены
          отстаивать свои законные права.</p>
        <p>"Тысячи наших людей, которые связали свою жизнь с портом, будут выброшены на улицу. Что вы прикажете
          сделать: отдать порт Hutchison Ports, а людей оставить без работы? Мы против этого", - отметил Брызгалов.
          Источник: http://censor.net.ua/n439121 </p>
          <p>Archintouch is an architectural studio based in Kiev, Ukraine.</p>
          <p>В случае массовых увольнений работников, предупреждает председатель профсоюзного комитета, портовики намерены
            отстаивать свои законные права.</p>
          <p>"Тысячи наших людей, которые связали свою жизнь с портом, будут выброшены на улицу. Что вы прикажете
            сделать: отдать порт Hutchison Ports, а людей оставить без работы? Мы против этого", - отметил Брызгалов.
            Источник: http://censor.net.ua/n439121 </p>
            <p>Archintouch is an architectural studio based in Kiev, Ukraine.</p>
            <p>В случае массовых увольнений работников, предупреждает председатель профсоюзного комитета, портовики намерены
              отстаивать свои законные права.</p>
            <p>"Тысячи наших людей, которые связали свою жизнь с портом, будут выброшены на улицу. Что вы прикажете
              сделать: отдать порт Hutchison Ports, а людей оставить без работы? Мы против этого", - отметил Брызгалов.
              Источник: http://censor.net.ua/n439121 </p>
              <p>Archintouch is an architectural studio based in Kiev, Ukraine.</p>
              <p>В случае массовых увольнений работников, предупреждает председатель профсоюзного комитета, портовики намерены
                отстаивать свои законные права.</p>
              <p>"Тысячи наших людей, которые связали свою жизнь с портом, будут выброшены на улицу. Что вы прикажете
                сделать: отдать порт Hutchison Ports, а людей оставить без работы? Мы против этого", - отметил Брызгалов.
                Источник: http://censor.net.ua/n439121 </p>
        </div>
    </section>
    <section id="portfolio">
      <div class="section-title">
        <div class="section-title-1"></div>
        <div class="section-title-4"></div>
        <div class="section-title-2"></div>
        <div class="section-title-4"></div>
        <div class="section-title-3">PORTFOLIO</div>
      </div><div class="clear"></div>
      <div class="projects">

          <div class="project">
            <div class="picture">
              <img src="picture.png" alt="" height="100%" width="100%">
            </div>
            <p class="projects-text">Office building</p>
            <p class="projects-text">Ukraine, Brovary</p>
          </div>
          <div class="project">
            <div class="picture">
                <img src="picture.png" alt="" height="100%" width="100%">
            </div>
            <p class="projects-text">Office building</p>
            <p class="projects-text">Ukraine, Brovary</p>
          </div>
          <div class="project">
            <div class="picture">
                <img src="picture.png" alt="" height="100%" width="100%">
            </div>
            <p class="projects-text">Office building</p>
            <p class="projects-text">Ukraine, Brovary</p>
          </div>
          <div class="project">
            <div class="picture">
                <img src="picture.png" alt="" height="100%" width="100%">
            </div>
            <p class="projects-text">Office building</p>
            <p class="projects-text">Ukraine, Brovary</p>
          </div>
          <div class="project">
            <div class="picture">
              <img src="picture.png" alt="" height="100%" width="100%">
            </div>
            <p class="projects-text">Office building</p>
            <p class="projects-text">Ukraine, Brovary</p>
          </div>
          <div class="project">
            <div class="picture">
                <img src="picture.png" alt="" height="100%" width="100%">
            </div>
            <p class="projects-text">Office building</p>
            <p class="projects-text">Ukraine, Brovary</p>
          </div>
          <div class="project">
            <div class="picture">
                <img src="picture.png" alt="" height="100%" width="100%">
            </div>
            <p class="projects-text">Office building</p>
            <p class="projects-text">Ukraine, Brovary</p>
          </div>
          <div class="project">
            <div class="picture">
                <img src="picture.png" alt="" height="100%" width="100%">
            </div>
            <p class="projects-text">Office building</p>
            <p class="projects-text">Ukraine, Brovary</p>
          </div>

          </div>
      </div>
      </div>
    </section>
    <section id="our-team">
      <div class="section-title">
        <div class="section-title-1"></div>
        <div class="section-title-4"></div>
        <div class="section-title-2"></div>
        <div class="section-title-4"></div>
        <div class="section-title-3">OUR TEAM</div>
      </div><div class="clear"></div>
      <div class="team">
        <p class="team-text-1">ARCHINTOUCH has two founders:</p>
        <div class="team-flex">
          <div class="team-flex-div">
            <p class="team-text">TATIANA М</br><span>architect</span></p>
          </div>
          <div class="team-flex-div">
            <p class="team-text">IVAN K </br><span>architect</span></p>
          </div>
        </div>
      </div>
    </section>
    <section id="contacts">
          <div class="section-title">
            <div class="section-title-1"></div>
            <div class="section-title-4"></div>
            <div class="section-title-2"></div>
            <div class="section-title-4"></div>
            <div class="section-title-3">GET IN TOUCH</div>
          </div>
          <div class="clear"></div>
          <div class="footer-flex">
            <div class="footer-headline">
              <p>WE MAKE BETTER PLACES FOR PEOPLE TO BUILD THEIR LIVES</p>
            </div>
            <div class="footer-address">
                  <img src="footer_logo.png" alt="" class="footer-logo">

                  <address class="address flex-row">
                    <div class="address1">
                      <p>Address</br>
                      ZIP</br>
                      City</br>
                      Country</br></p>
                    </div>
                    <div class="address2">
                      <p>Dashavskaya st., office 94</br>03056</br>Kiev</br>Ukraine</p>
                    </div>
                  </address>
            </div>
            <div class="footer-questions">
              <p class="">If you have any questions:</br>
              <a href="mailto:archintouch1@gmail.com"><span>archintouch1@gmail.com</span></p>
            </div>
            <div class="footer-contects">
                <p class="footer-text-4">Follow us</p>
                <a href="https://www.facebook.com/sharer.php?u=http://archintouch.com"><img src="Facebook.png" alt="" class="follow"></a>
                <a href="https://www.instagram.com/archintouch/"><img src="instagram.png" alt="" class="follow"></a>
            </div>
            <div class="footer-ty">
              <p class="footer-text-5">THANK YOU</p>
            </div>

          </div>
      </section>
  </body>
</html>
