@font-face{
	font-family: 'Akrobat-ExtraBold';
	src: local("Akrobat-ExtraBold"), url(../fonts/Akrobat-ExtraBold.otf);
}
@font-face{
	font-family: 'Akrobat-Light';
	src: local("Akrobat-Light"), url(../fonts/Akrobat-Light.otf);
}
@font-face{
	font-family: 'Akrobat-Regular';
	src: local("Akrobat-Regular"), url(../fonts/Akrobat-Regular.otf);
}
body {
	background: #fff;
	margin:0;
	padding: 0;
	font: 16pt/1.6 Akrobat-Regular;
	color: #000;
	min-width: 250px;
}
a {
	font: 12pt/1.6 Akrobat-Light;
	text-decoration: none;
	color: #000;
	font-weight:lighter;
}
#main {
	background: #aaa url(mainbg.jpg) no-repeat 80% center/ cover;
	min-height: 100vh;
}
.slogan {
	font: 28px/1.6 Akrobat-ExtraBold, sans-serif;
	color: #fff;
	font-weight: bold;
	text-align: center;
	position:absolute;
	left:calc(50% - 245px);
	top:280px;
}
.slogan span {
	background-color: #000;
	padding: 3px 1px;
}
.mainlogo{
	width: auto;
	height: auto;
	padding: 0;
	float: left;
	margin: 50px 0 0 50px;
}
.menu {
	display:inherit;
	flex-flow:column nowrap;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
	height: 100px;
	padding: 0 350px 0 400px;
	width: calc(100% - 750px);
	position:absolute;
	top: 45px;
	left: 0;
	text-align: left;
	max-width: 1000px;
}
.menu-item {
	width: 120px;
	font: 12pt/1 Akrobat-Light, sans-serif;
	text-align: left;
}
@media (max-width: 1085px) {
	#main {
		background: #aaa url(mainbg-mobile.jpg) no-repeat 10% 10%/ cover;
	}
	.slogan {
		top:auto;
		margin: 0;
		padding: 0;
		display: block;
		font: 18px/1.6 Akrobat-ExtraBold;
		position: absolute;
		margin: 0;
		bottom: calc(10vh + 10px);
		left: calc(50vw - 155px);
		max-width: 90vw;
	}
	.mainlogo {
		position: absolute;
		left: calc(50vw - 102px);
		top: 20px;
		margin-top: 0;
		margin: 0;
	}
	.menu {
		position: absolute;
		padding: 0;
		margin: 0;
		flex-flow:column nowrap;
		position: absolute;
		left: calc(50vw - 60px);
		width: auto;
		padding-top: 180px;
		align-items: center;
		text-align: center;

	}
	.menu-item{
		padding-bottom: 10px;
		text-align: center;
	}
}
@media (max-height: 420px) {
	#main {
		background: #aaa url(mainbg.jpg) no-repeat 90% 90%/ cover;
	}
	.menu {
		position: absolute;
		left: 250px;
		top: 65px;
		margin: 0;
		padding: 0;
		flex-flow: column nowrap;
		width: auto;
	}
	.mainlogo {
		position: absolute;
		left: 20px;
		top: 20px;
		padding: 0;
		margin: 0;
		margin-top: 0;
	}
	.slogan {
		position: absolute;
		left: 20px;
		top: 250px;
		display: inline;
		padding: 0;
		margin: 0;
		font: 22px/1.6 Akrobat-ExtraBold;
	}

}
.section-title{
	padding: 20px 0 20px 0;
}
.section-title-1{
	background-color: black;
	height: 40px;
	width: calc(40vw - 80px);
	float:left;
}
.section-title-2{
	background-color: black;
	height: 40px;
	width: 10px;
	float: left;
	margin: 0 0px;
}
.section-title-3 {
	font: 28px/1.4 Akrobat-ExtraBold, sans-serif;
	height: 40px;
	background-color: black;
	color: white;
	padding: 0px 10px 0px 10px;
	float: left;
	text-align: center;
}
.section-title-4{
	height: 40px;
	background-color: white;
	width: 8px;
	float: left;
	margin: 0;
}
/*@media (max-width: 1085px) {
	.section-title-2 {
		margin: 0 0;
		width: 20vw;
	}
	.section-title-4 {
		display: none;
	}
}*/
#who-we-are {
	min-height: 100vh;
	max-width: 100%;
	margin: 0 auto;
}
.maintext{
	text-align: center;
	padding: 10px 8%;
	width: 84%;


}
#our-team {
	height: 100vh;
}
.team {
	text-align: center;
	font: 25px/1 Akrobat-Regular;
	margin: 35vh 0 19vh 0
}
.team-text {
	font: 25px/1 Akrobat-ExtraBold;
}
.team-text span {
	font: 25px/1 Akrobat-Regular;
}
.team-text-1 {
	font: 28px/1 Akrobat-Regular;
}
.team-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-flow: row nowrap;
	justify-content: center;
}
.team-flex-div {
	margin: 3vh 10vw;
}
#portfolio {
	padding: 0;
	margin: 0;
}
.projects {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-flow: row wrap;
	justify-content: flex-start;
	text-align: center;
	padding: 50px 7vw;
}
.project {
	width: 24vw;
	height: 24vw;
}
.pf-picture {
	/*width: 24vw;*/
	object-fit: cover;
	display:block;
	width:24vw;
	/*max-width:100%;*/
	/*height:auto;*/
	height:100%;
}
.project {
	margin: 5px 2vw;
}
.projects-text {
	font: 18px/1.2 Akrobat-Light;
	padding: 0;
	margin: 0 0 0 5px;
	text-align: left;
	text-transform: uppercase;
}
@media (max-width: 1085px) {
	.projects {
		padding: 50px 1vw;
	}
	.pf-picture {
		/*width: 24vw;*/
		object-fit: cover;
		display:block;
		width:44vw;
		/*max-width:100%;*/
		/*height:auto;*/
		height:100%;
	}
	.project {
		width: 44vw;
		height: 44vw;
		margin: 5px 1vw 5px 2vw;
	}
	#who-we-are {
		min-height: 100vh;
		width: 100vw;
		margin: 0 auto;
	}
}
#contacts{
	background-color: #736a65;
	/*padding: 5px 0 0 0;*/
	text-align: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}
.footer-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	min-height: 90vh;

}
.footer-headline{
	font: 35px/1 Akrobat-ExtraBold;
	margin: 7vh 0;
}
.footer-address {
	font: 22px/1 Akrobat-Light;
	text-align: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}
.footer-logo {
	text-align: center;
	display: inline;
	margin-right: 30px;

}
.address {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
  font: 22px/1.5 Akrobat-Regular;
}
.address2 {
	font: 22px/1.5 Akrobat-ExtraBold;
	margin-left: 20px;
}
.footer-questions {
	font: 22px/0.8 Akrobat-Regular;
}
.footer-questions span {
	font: 22px/0.8 Akrobat-ExtraBold;
}
.footer-ty{
	font: 35px/1 Akrobat-ExtraBold;
	color: white;
}
@media (max-width: 1085px) {
	.footer-address {
		flex-flow: column nowrap;
	}
	.footer-headline {
		font: 25px/1 Akrobat-ExtraBold;
	}
	.footer-logo {
		margin-right: 0;

	}
}
.float-left{
	float: left;
}
.clear {
	clear: both;
}
