@font-face{
	font-family: 'Akrobat-ExtraBold';
	src: local("Akrobat-ExtraBold"), url(../fonts/Akrobat-ExtraBold.otf);
}
@font-face{
	font-family: 'Akrobat-Light';
	src: local("Akrobat-Light"), url(../fonts/Akrobat-Light.otf);
}
@font-face{
	font-family: 'Akrobat-Regular';
	src: local("Akrobat-Regular"), url(../fonts/Akrobat-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  }
html {
  background: #fff;
  }
body {
  font: 16pt/1.6 Akrobat-Regular;
	color: #000;
  margin: 0;
  max-width: 100vw;
  width: 100vw;
  padding: 0 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  }

#wrapper {
  width: 100vw;
  }
.mainlogo-show {
	padding: 50px 0;
	width: 100vw;
}
.text-wrapper {
	max-width: 700px;
	width: 90vw;
	margin: auto;
	font: 15pt/1.6 Akrobat-Regular;
	text-transform: uppercase;
	text-align: center;
	}
	.text-wrapper-left {
		text-align: left;
		}
.text-description {
	font: 13pt/1.6 Akrobat-Regular;
	text-align: justify;
	padding: 20px 0;
	text-transform: none;
}
.text-wrapper-left span {
	font: 15pt/1.6 Akrobat-Extrabold;
}
@media (min-width: 1450px) {
	.mainlogo-show {
		position: absolute;
		left: 50px;
		top: 50px;
		width: 300px;
		padding: 0;
		text-align: left;
		z-index: 10;
	}
	.rslides_container {
		padding-top: 150px;
	}
	.text-wrapper {
		position: absolute;
		max-width: 300px;
		top: 250px;
		left: 50px;
	}
	.mainlogo-pic {
		width: auto;
	}
	.mainlogo-show a {
		width: 200px;
		height: 200px;

	}
}
a {
	font: 12pt/1.6 Akrobat-Light;
	text-decoration: none;
	color: #000;
	font-weight:lighter;
}
.menu-show {
	display: none;
}
@media (min-width: 1450px) {
.menu-show {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	height: 100px;
	width: 700px;
	padding-top: 45px;
	padding-left: calc(50vw - 350px);
}
.menu-item-show {
	width: 120px;
	font: 12pt/1 Akrobat-Light, sans-serif;
}
}
.rslides {
  margin: 0 auto;
  }
.rslides_container {
  margin-bottom: 0px;
  position: relative;
  float: left;
  width: 100vw;
	margin-top: 0;
  }
	@media (max-width: 900px) {
		.rslides_container {
			margin-top: 0;
			width: 94vw;
			margin: 0 3vw;
	}}
.follow-fb {
	position: absolute;
	top: 50px;
	right: 150px;
}
 .follow-i {
	position: absolute;
 	top: 50px;
 	right: 100px;
 }
@media (max-width: 1450px) {
.follow-fb, .follow-i {
	position: inherit;
	}
}

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }
.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }
.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: calc( 50% - 350px);
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 350px;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }
	@media (min-width: 1450px) {
		.transparent-btns_nav{
			top: 150px;
			height: 70vh;
		}
	}
.transparent-btns_nav.next {
  left: auto;
  right: calc( 50% - 350px )
  }
.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }
.large-btns_nav:active {
  opacity: 1.0;
  }
.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }
.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }
.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }
.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }
.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }
.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }
	.clear {
		clear: both;
	}
